@import '@angular/material/theming';
@include mat-core();

$black: #000000;
$white: #ffffff;
$custom-primary: #787878;
$custom-accent: #f185ff;
$custom-warn: #ff5722;

$custom-brand-primary: (
  50: '#edf3e7',
  100: '#e3e3e3',
  200: '#c7c7c7',
  300: '#b5b5b5',
  400: '#969696',
  500: $custom-primary,
  600: '#6e6e6e',
  700: '#5c5c5c',
  800: '#4f4e4f',
  900: '#3d3d3d',
  contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $black,
    400: $white,
    500: $white,
    600: $white,
    700: $white,
    800: $white,
    900: $white
  )
);

$custom-brand-accent: (
  50: '#f9ccff',
  100: '#f8bdff',
  200: '#f5b6fc',
  300: '#f29ffc',
  400: '#f499ff',
  500: $custom-accent,
  600: '#ef73ff',
  700: '#ee66ff',
  800: '#ed59ff',
  900: '#e933ff',
  contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $white,
    400: $white,
    500: $white,
    600: $white,
    700: $white,
    800: $white,
    900: $white
  )
);

$custom-brand-warn: (
  50: #fbe9e7,
  100: #ffccbc,
  200: #ffab91,
  300: #ff8965,
  400: #ff6f43,
  500: $custom-warn,
  600: #f4501e,
  700: #e64919,
  800: #d84215,
  900: #bf350c,
  contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $black,
    400: $black,
    500: $white,
    600: $white,
    700: $white,
    800: $white,
    900: $white
  )
);

$app-primary:  mat-palette($custom-brand-primary);
$app-accent: mat-palette($custom-brand-accent);
$app-warn: mat-palette($custom-brand-warn);
$light-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
$dark-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);
//@include mat-button-theme($light-theme);
//@include mat-input-theme($light-theme);
//@include mat-tabs-theme($dark-theme);
//@include mat-toolbar-theme($light-theme);
@include angular-material-theme($light-theme);


/* ======== angular material custom theme ======== */
// $my-custom-primary: mat-palette($my-palette);
// $my-custom-accent: mat-palette($mat-pink, 100, 500, A100);
// $my-custom-warn: mat-palette($mat-lime);

// // Light theme
// //$my-custom-theme: mat-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);

// // Dark theme
// $my-custom-theme: define-light-th eme($my-custom-primary, $my-custom-accent, $my-custom-warn);

// // Main theme defination
// @include angular-material-theme($my-custom-theme);


// // Alternate Angular Material Theme
// .my-alternate-theme {
//   $my-alternate-primary: mat-palette($mat-red);
//   $my-alternate-accent: mat-palette($mat-green, 400);
//   $my-alternate-warn: mat-palette($mat-grey);

//   $my-alternate-theme: mat-light-theme($my-alternate-primary, $my-alternate-accent, $my-alternate-warn);

//   @include angular-material-theme($my-alternate-theme);
// }
