.card-content{
  width: 30vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 4px #000000;
  border-radius: 20px;
}
.button-content{
  border-radius: 5px;
  width: 10vw;
  height: 5vh;
  box-shadow: 2px 2px 4px #000000;
  color: white;
  background-color: darkblue;
}
